In [1]:
import pandas as pd

In [2]:
df = pd.read_html("https://www.worldatlas.com/na/us/area-codes.html")[0]

In [3]:
df = df.rename(columns={
    "States": "state",
    "Area Codes": "area_codes"
})

In [4]:
df.head()

        state                                         area_codes
0      Alaska                                                907
1     Alabama                                 205, 251, 256, 334
2    Arkansas                                      479, 501, 870
3     Arizona                            480, 520, 602, 623, 928
4  California  209, 213, 310, 323, 408, 415, 510, 530, 559, 5...

In [5]:
df.to_json("codes.json", orient="records")

'[{"state":"Alaska","area_codes":"907"},{"state":"Alabama","area_codes":"205, 251, 256, 334"},{"state":"Arkansas","area_codes":"479, 501, 870"},{"state":"Arizona","area_codes":"480, 520, 602, 623, 928"},{"state":"California","area_codes":"209, 213, 310, 323, 408, 415, 510, 530, 559, 562, 619, 626, 650, 661, 707, 714, 760, 805, 818, 831, 858, 909, 916, 925, 949, 951"},{"state":"Colorado","area_codes":"303, 719, 970"},{"state":"Connecticut","area_codes":"203, 860"},{"state":"District of Columbia","area_codes":"202"},{"state":"Delaware","area_codes":"302"},{"state":"Florida","area_codes":"239, 305, 321, 352, 386, 407, 561, 727, 772, 813, 850, 863, 904, 941, 954"},{"state":"Georgia","area_codes":"229, 404, 478, 706, 770, 912"},{"state":"Hawaii","area_codes":"808"},{"state":"Iowa","area_codes":"319, 515, 563, 641, 712"},{"state":"Idaho","area_codes":"208"},{"state":"Illinois","area_codes":"217, 309, 312, 618, 630, 708, 773, 815, 847"},{"state":"Indiana","area_codes":"219, 260, 317, 574, 765, 812"},{"state":"Kansas","area_codes":"316, 620, 785, 913"},{"state":"Kentucky","area_codes":"270, 502, 606, 859"},{"state":"Louisiana","area_codes":"225, 318, 337, 504, 985"},{"state":"Massachusetts","area_codes":"413, 508, 617, 781, 978"},{"state":"Maryland","area_codes":"301, 410"},{"state":"Maine","area_codes":"207"},{"state":"Michigan","area_codes":"231, 248, 269, 313, 517, 586, 616, 734, 810, 906, 989"},{"state":"Minnesota","area_codes":"218, 320, 507, 612, 651, 763, 952"},{"state":"Missouri","area_codes":"314, 417, 573, 636, 660, 816"},{"state":"Mississippi","area_codes":"228, 601, 662"},{"state":"Montana","area_codes":"406"},{"state":"North Carolina","area_codes":"252, 336, 704, 828, 910, 919"},{"state":"North Dakota","area_codes":"701"},{"state":"Nebraska","area_codes":"308, 402"},{"state":"New Hampshire","area_codes":"603"},{"state":"New Jersey","area_codes":"201, 609, 732, 856, 908, 973"},{"state":"New Mexico","area_codes":"505, 575"},{"state":"Nevada","area_codes":"702, 775"},{"state":"New York","area_codes":"212, 315, 516, 518, 585, 607, 631, 716, 718, 845, 914"},{"state":"Ohio","area_codes":"216, 330, 419, 440, 513, 614, 740, 937"},{"state":"Oklahoma","area_codes":"405, 580, 918"},{"state":"Oregon","area_codes":"503, 541"},{"state":"Pennsylvania","area_codes":"215, 412, 570, 610, 717, 724, 814"},{"state":"Rhode Island","area_codes":"401"},{"state":"South Carolina","area_codes":"803, 843, 864"},{"state":"South Dakota","area_codes":"605"},{"state":"Tennessee","area_codes":"423, 615, 731, 865, 901, 931"},{"state":"Texas","area_codes":"210, 214, 254, 281, 325, 361, 409, 432, 512, 713, 806, 817, 830, 903, 915, 936, 940, 956, 972, 979"},{"state":"Utah","area_codes":"435, 801"},{"state":"Virginia","area_codes":"276, 434, 540, 703, 757, 804"},{"state":"Vermont","area_codes":"802"},{"state":"Washington","area_codes":"206, 253, 360, 425, 509"},{"state":"Wisconsin","area_codes":"262, 414, 608, 715, 920"},{"state":"West Virginia","area_codes":"304"},{"state":"Wyoming","area_codes":"307"}]'