In [1]:
import pandas as pd

In [25]:
df = pd.read_html("https://areacode.org/")[0]

df = df.drop("Area Code.1", axis=1)

df = df.rename(columns={
    "Area Code": "area_code",
    "State/Province": "state_province",
    "Major Cities By Population": "cities",
})

df["area_code"] = df["area_code"].str.extract(r"(\d+)")

In [26]:
df.head()

  area_code        state_province                            cities
0       201            New Jersey  Bayonne, Union City, Jersey City
1       202  District Of Columbia                        Washington
2       203           Connecticut        Danbury, Stamford, Milford
3       204              Manitoba                 Winnipeg, Brandon
4       205               Alabama       Jasper, Clanton, Birmingham

In [28]:
df.to_json("out/codes.json", orient="records")