In [1]:
import pandas as pd

In [2]:
df = pd.read_html("https://www.worldatlas.com/na/us/area-codes.html")[0]

In [3]:
df = df.rename(columns={
    "States": "state",
    "Area Codes": "area_codes"
})

In [4]:
df.head()

        state                                         area_codes
0      Alaska                                                907
1     Alabama                                 205, 251, 256, 334
2    Arkansas                                      479, 501, 870
3     Arizona                            480, 520, 602, 623, 928
4  California  209, 213, 310, 323, 408, 415, 510, 530, 559, 5...

In [6]:
df.to_json("codes.json", orient="records")